.custom-date-picker-wrapper {
	width: 190px !important;
}

.react-datepicker__tab-loop {
	display: inline-block;
}

.nav-item.nav-link.active {
	background-color: transparent;
	border-color: #dee2e6 #dee2e6 #f8f9fa;
}

.react-bootstrap-table-pagination {
	padding-left: 1rem;
	padding-right: 1rem;
}

.text-center {
	text-align: center !important;
}

.extand-row {
	word-wrap: break-word;
	word-break: break-all;
	max-height: 200px !important;
	overflow-y: auto;
}
